[data-viz-theme] {
  background: var(--viz-color-bg);
  color: var(--viz-color-fg);

  &[data-viz-theme='light'] {
    --viz-color-bg: #f5f5f5;
    --viz-color-fg: #111;
    --viz-node-color-bg: rgb(159, 157, 157);
    --viz-edge-color: #111;
    --unicredit-primary-color: #68A7AD;
    --unicredit-primary-color-hover: #2f5466;
    --unicredit-secondary-color: white;
  }

  &[data-viz-theme='dark'] {
    --viz-color-fg: #fff;
    --viz-color-bg: #111;
    --viz-node-color-bg: #2d2d2d;
    --viz-edge-color: white;
    --unicredit-primary-color: #007a91;
  }

  --viz-color-transparent: #fff6;
  --viz-color-active: var(--unicredit-primary-color);
  --viz-border-color: var(--viz-node-color-bg);
  --viz-border-width: 2px;
  --viz-border: var(--viz-border-width) solid var(--viz-border-color);
  --viz-radius: 0.25rem;
  --viz-node-border-style: solid;
  --viz-node-parallel-border-style: dashed;
  --viz-font-size-base: 14px;
  --viz-font-size-sm: 12px;
  --viz-font-size-xs: 10px;
}
